@inherits UmbracoViewPage<BoulderProject_Umbraco.Models.ContactModel>

@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <!--first name-->
    <div class="form-group text-left">
        <label>
            Vorname*
        </label>
        @*@Html.TextBoxFor(m => m.FirstName)*@
        <input class="form-control" id="FirstName" name="FirstName" required type="text" value="">

    </div>

    <!--last name-->
    <div class="form-group text-left">
        <label>
            Nachname*
        </label>
        @*@Html.TextBoxFor(m => m.LastName)*@
        <input class="form-control" id="LastName" name="LastName" type="text" required value="">

    </div>

    <!--email adress-->
    <div class="form-group text-left">
        <label>
            E-Mail Adresse*
        </label>
        @*@Html.TextBoxFor(m => m.EmailAddress)*@
        <input class="form-control" id="EmailAddress" name="EmailAddress" type="text" required value="">

    </div>

    <!-- calendar-->
@*<div class="form-group text-left pt-2">
    <input id="kidsCheckBox" type="checkbox" style="height:20px; width:20px;"/><label class="ml-3" for="kidsCheckBox">Kindergeburtstag</label>
</div>*@


    <div class="form-group text-left collapse show" id="calendarGroup">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-lg-6">
                    <label>
                        Datum
                    </label>
                    <div id="datepicker" class="text-right"></div>
                </div>
                <div class="col-lg-6">
                    <label>
                        Zeitraum
                    </label>
                    <select id="timeSelect" class="form-control">
                        <option value="" class="d-none"></option>
                        <option class="Fri" value="16:00 bis 18:00">16:00 bis 18:00 (Freitag)</option>
                        <option class="Sat" value="13:00 bis 15:00">13:00 bis 15:00 (Samstag)</option>
                        <option class="Sat" value="15:30 bis 17:30">15:30 bis 17:30 (Samstag)</option>
                        <option class="Sat" value="18:00 bis 20:00">18:00 bis 20:00 (Samstag)</option>
                        <option class="Sun" value="11:30 bis 13:30">11:30 bis 13:30 (Sonntag)</option>
                        <option class="Sun" value="14:00 bis 16:00">14:00 bis 16:00 (Sonntag)</option>
                        <option class="Sun" value="16:30 bis 18:30">16:30 bis 18:30 (Sonntag)</option>
                    </select>
                </div>
            </div>
        </div>

        <input disabled name="Date" type="hidden" id="date-input" />

    </div>

    <!--message-->
    <div class="form-group text-left">
        <label>
            Besondere Wünsche?
        </label>
        @*@Html.TextAreaFor(m => m.Message)*@
        <textarea class="form-control" cols="20" id="Message" name="Message" rows="4"></textarea>
    </div>

    <button class="btn btn-primary btn-xl ">Jetzt abschicken!</button>
}
