@inherits UmbracoViewPage<BoulderProject_Umbraco.Models.ContactModel>

@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <!--first name-->
    <div class="form-group text-left">

   
            <label>

                Vorname
            </label>
            @*@Html.TextBoxFor(m => m.FirstName)*@
            <input class="form-control" id="FirstName" name="FirstName" type="text" value="">
       
    </div>

    <!--last name-->
    <div class="form-group text-left">
        <label>

            Nachname
        </label>
        @*@Html.TextBoxFor(m => m.LastName)*@
        <input class="form-control" id="LastName" name="LastName" type="text" value="">

    </div>

    <!--email adress-->
    <div class="form-group text-left">
        <label>

            E-Mail Adresse
        </label>
        @*@Html.TextBoxFor(m => m.EmailAddress)*@
        <input class="form-control" id="EmailAddress" name="EmailAddress" type="text" value="">

    </div>

    <!--message-->
    <div class="form-group text-left">
        <label>
            Details
        </label>
        @*@Html.TextAreaFor(m => m.Message)*@
        <textarea class="form-control" cols="20" id="Message" name="Message" rows="4"></textarea>

    </div>

    <button class="btn btn-primary btn-xl ">Jetzt abschicken!</button>
}
