@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    var mastHeadImage = "Lennox nachher.jpg";
    var containerImage = "Geburtstag.jpg";
    var basicImage = "Georg nachher.jpg";


}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    <!-- Font Awesome Icons -->
    <link href="../Content/fontawesome.min.css" rel="stylesheet">
    <link href="../Content/all.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../Content/magnific-popup.css" rel="stylesheet" />
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="../Content/creative.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <style>
    header.masthead {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../img/@mastHeadImage");
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/@mastHeadImage");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
    .page-section.background-kids{
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../img/@containerImage");
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/@containerImage");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
         .page-section.bg-basic-class{
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../img/@basicImage");
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/@basicImage");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
       
          .birthday-hack{
     background: url("../img/Geburtstag.jpg");
    background:url("../img/Geburtstag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
    </style>
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container-fluid px-xl-5">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    @*   <img src="~/img/logo-boulder-point.png"  alt="">*@
                    @*BOULDER POINT*@
                </a>

                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-xl-5" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0 ">
                    @if(ViewBag.Title == "Boulder-Point") {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#classes">Kurse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#TeamEvents">Firmen & Schulen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#kids">Für Kinder</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#times">Öffnungszeiten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#prices">Preise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Gallery">Bilder</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#map">Anfahrt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                    </li>
                    }
                    else
                    {
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/home">Zurück zur Hauptseite</a>
                </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()



    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">
                    <a class="nav-link d-inline-block" href="/impressum">Impressum</a>
                    <a class="nav-link d-inline-block" href="/agb">AGB</a>
                    <a class="nav-link d-inline-block" href="/datenschutz">Datenschutz</a>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../Scripts/jquery.easing.min.js"></script>
    <script src="../Scripts/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../Scripts/creative.min.js"></script>
</body>
</html>