

@{
    Layout = "_Layout.cshtml";
}

    <h2>Benutzungsordnung</h2>

<h3>1 Allgemeines </h3>
<br />
<br />
<p>
    1.1 Jeder Kunde bestätigt durch seine Unterschrift, dass er die jeweils aktuelle Fassung der Benutzerordnung kennt und sich verpflichtet diese einzuhalten. Verstöße gegen die Benutzerordnung können einen Verweis aus dem Boulder-Point durch das Personal zur Folge haben, ohne Anspruch auf Rückerstattung des Eintrittspreises. Bei wiederholten Verstößen kann ein Hallenverbot ausgesprochen werden. Inhabern von Jahres- oder Monatskarten wird in diesem Falle die Karte entzogen, ein Anspruch auf Rückerstattung besteht nicht. Den Anweisungen des Personals ist in jedem Fall Folge zu leisten.
    <br />
    <br />
    1.2 Monats- bzw. Abo-Karten sind personenbezogen. Für Ermäßigungen ist ein entsprechender gültiger Ausweis vorzulegen.
    <br />
    <br />
    1.3 Bei Vandalismus, Diebstahl und Betrug ist das Personal verpflichtet die fehlbare Person der Polizei zu melden.
</p>
<br />
<br />

<h3>2 Benutzungsberechtigung</h3>
<br />
<br />
<p>
    2.1 Die Benutzung der Anlagen ist kostenpflichtig. Benutzungsberechtigt sind nur Personen mit einer gültigen Eintrittskarte. Die Preise für die Benutzung ergeben sich aus den veröffentlichten gültigen Preislisten.
    <br />
    <br />
    2.2 <strong>Kinder bis zum vollendeten 6. Lebensjahr</strong> dürfen den Boulderbereich des Boulder-Points nicht betreten. Ausnahmen können im Rahmen von Kursen und Familienangeboten nach Vorlage einer entsprechenden schriftlichen Einverständniserklärung der Erziehungsberechtigten gemacht werden.
    <br />
    <br />
    <strong>Kinder bis zum vollendeten 12. Lebensjahr</strong>Kinder bis zum vollendeten 12. Lebensjahr (Geburtstag) dürfen unter Aufsicht eines Erziehungsberechtigten oder einer sonstigen volljährigen Person, die die Aufsichtspflicht befugter Maßen ausübt, die Boulderwände im gesamten Boulder-Point benutzen. Ausnahmen regelt die Ziffer 2.3.
    <br />
    <br />
    <strong>Jugendliche ab der Vollendung des 12. Lebensjahres</strong> dürfen den Boulder-Point auch ohne Begleitung der Eltern oder eines sonstigen Aufsichtspflichtigen nach Vorlage einer entsprechenden schriftlichen Einverständniserklärung der Erziehungsberechtigten benutzen. Die Einverständnisformulare, die ausschließlich zu verwenden sind, liegen im Boulder-Point aus oder können auf unserer Homepage: www.boulder-point.de herunter geladen werden. Jeder Jugendliche muss bei jedem Besuch eine Kopie des Originales mit sich führen.
    <br />
    <br />
    2.3 Die unbefugte Nutzung der Kletteranlagen sowie die Nutzung entgegen den Bestimmungen dieser Benutzungsordnung wird mit einer erhöhten Nutzungsgebühr In Höhe von 100,00€ geahndet. Die Geltendmachung von darüber hinaus gehenden Ansprüchen - insbesondere auf Schadensersatz, sowie sofortigen Verweis aus der Boulderhalle und Hausverbot - bleiben daneben vorbehalten.
</p>
<br />
<br />
<h3>3 Benutzungszeiten</h3>
<br />
<br />
<p>
    3.1 Die Öffnungszeiten werden durch Aushang bekannt gegeben. Die Anlage darf nur während dieser Öffnungszeiten benutzt werden.
    <br />
    <br />
    3.2 Wegen besonderer Veranstaltungen oder aus wichtigen betrieblichen Gründen kann von der allgemeinen Betriebszeit abgewichen und der Kletterbetrieb eingeschränkt oder eingestellt werden. Änderungen werden im Einzelfall ausgehängt. Rückerstattung von gezahlten Eintrittspreisen oder Schadenersatz sind nicht möglich.
    <br />
    <br />
    3.3 Für den Routenbau und Instandhaltung können Teilbereiche der Anlage unzugänglich sein, für Wettkämpfe und Veranstaltungen sogar die gesamte Anlage für den normalen Boulderbetrieb geschlossen sein. Eine Totalschließung wird auf der Homepage und in der Halle vorher angekündigt. In den genannten Fällen, besteht für Besitzer von Monats- und Jahreskarten kein Anspruch auf Rückerstattung.
</p>
<br />
<br />
<h3>4 Boulderregeln und Haftung </h3>
<br />
<br />
<p>
    4.1 Bouldern erfordert ein hohes Maß an Umsicht und Eigenverantwortlichkeit. Der Umfang der Eigenverantwortlichkeit wird insbesondere durch die nachfolgenden Boulderregeln bestimmt, die jeder Besucher der Boulderanlagen zu beachten hat. Der Aufenthalt in und die Benutzung der Boulderanlagen, insbesondere das Bouldern, erfolgen ausschließlich auf eigene Gefahr, eigenes Risiko und eigene Verantwortung. Sofern dessen ungeachtet eine Haftung bestehen sollte, wird für andere Schäden als solchen aus Verletzung des Lebens, des Körpers oder der Gesundheit vom Boulder-Point, ihren Organen, gesetzlichen Vertretern, Erfüllungsgehilfen und sonstigen Hilfspersonen nicht gehaftet, es sei denn, dass der Schaden durch deren vorsätzliches oder grob fahrlässiges Verhalten verursacht worden ist.
    <br />
    <br />
    4.2 Eltern und Aufsichtsberechtigte haften für ihre Kinder beziehungsweise die ihnen anvertrauten Personen. Kinder sind während ihres gesamten Aufenthaltes in der Anlage zu beaufsichtigen. Das Spielen im Boulderbereich und in Bereichen, in denen Gegenstände oder Boulderer herunterfallen können, ist untersagt. Vor allem Kleinkinder dürfen sich dort nicht aufhalten und insbesondere dort nicht abgelegt werden.
    <br />
    <br />
    4.3 Jeder Benutzer hat größtmögliche Rücksicht auf die anderen Benutzer zu nehmen und alles zu unterlassen, was zu einer Gefährdung für sich oder Dritte führen könnte. An einem Wandbereich darf immer nur eine Person bouldern. Vor dem Einstieg in einen Boulder ist sicherzustellen, dass in der Nähe keine andere Person klettert oder den geplanten Boulder kreuzt. Die Kletterhöhe sollte stets so gewählt werden, dass ein Niedersprung auf die Weichböden noch sicher beherrscht wird. Jeder Benutzer hat damit zu rechnen, dass er durch andere Benutzer oder herab fallende Gegenstände gefährdet werden könnte und hat eigenverantwortlich entsprechende Vorsorge zu treffen.
    <br />
    <br />
    4.4 Als gesperrt gekennzeichnete Bereiche dürfen nicht betreten, insbesondere auch nicht bebouldert werden. Die Bereiche hinter den Kletterwandkonstruktionen dürfen alleine von den Mitarbeitern des Boulder-Points betreten werden.
    <br />
    <br />
    4.5 Künstliche Klettergriffe können sich jederzeit unvorhersehbar lockern oder brechen und dadurch den Bouldernden und andere Personen gefährden oder verletzen. Der Boulder-Point übernimmt keine Gewähr für die Festigkeit der angebrachten Griffe.

    <br />
    <br />
    4.6 Lose oder beschädigte Griffe, sind dem Hallenpersonal unverzüglich zu melden.
    <br />
    <br />
    4.7 Barfußbouldern oder das Bouldern in Strümpfen ist verboten. Die Fallschutzmatten dürfen nur mit Kletterschuhen oder sauberen Hallenturnschuhen betreten werden.
    <br />
    <br />

    4.8 Jeder Unfall bei dem ein Kunde zu Schaden gekommen ist, muss dem Thekenpersonal unverzüglich mitgeteilt werden.
    <br />
    <br />
    4.9 Die in der Halle ausgehängten Regeln „Sicherheit beim Bouldern“ sind zwingend einzuhalten. Ebenso ist das Bouldern unter Einfluss von Alkohol oder Drogen verboten
</p>
<br />
<br />
<h3>5 Veränderungen, Beschädigungen und Sauberkeit </h3>
<br />
<br />
<p>
    5.1 Das Verändern von Griffen und Tritten ist nur dem vom Boulder-Point bestimmten Personal, sowie dem beauftragten Routenbauer erlaubt. Tritte, Griffe und Griffvolumen, dürfen von Benutzern weder neu angebracht noch verändert oder beseitigt werden.
    <br />
    <br />
    5.2 Es dürfen keine Gegenstände (z.B. Taschen, Flaschen usw.) im Niedersprungbereich abgelegt werden. Es dürfen nur Plastikflaschen in den Sportbereich eingebracht und außerhalb des Niedersprungbereichs deponiert werden.
    <br />
    <br />
    5.3 Die Anlage und das Gelände um die Anlage ist sauber zu halten und sorgsam zu behandeln. Abfälle (auch Zigarettenkippen) sind in die vorhandenen Abfallbehälter zu werfen.
    <br />
    <br />
    5.4 Fahrräder müssen vor der Anlage abgestellt werden. Sie dürfen nicht mit in die Anlagen genommen werden. Eine Haftung für Beschädigung oder Diebstahl wird nicht übernommen.
    <br />
    <br />
    5.5 Offenes Feuer ist in der Anlage untersagt. Das Rauchen ist in den gesamten Halleninnen-bereichen (Boulderbereiche, Toiletten, Umkleideräumen, Empfang etc.) untersagt und nur draußen vor der Tür gestattet.
    <br />
    <br />
    5.6 Auf Garderobe und mitgebrachte Ausrüstungsgegenstände ist selbst zu achten. Bei Verlust oder Diebstahl wird keine Haftung übernommen. Dies gilt auch für die in den abschließbaren Kleiderschränken und Wertfächern untergebrachten Gegenstände, insbesondere Wertsachen.
    <br />
    <br />
    5.7 Die Kleiderschränken und Wertfächer werden jeden Abend nach Betriebsschluss geleert und der Inhalt wird in der Fundkiste deponiert.
    <br />
    <br />
    5.8 Das Mitnehmen von Tieren in die Anlage ist verboten.
</p>
<br />
<br />
<h3>6 Leihmaterial</h3>
<br />
<br />
<p>
    6.1 Der Entleiher ist verpflichtet das Leihmaterial mit größter Sorgfalt zu behandeln. Der Entleiher ist verpflichtet bei Verlust des Leihmaterials dieses zum Listenpreis zu ersetzen.
    <br />
    <br />

    6.2 Der Entleiher ist verpflichtet, das Leihmaterial vor Gebrauch auf offensichtliche Mängel (z. B. Scheuerstellen, etc.) zu überprüfen. Mängel sind sofort zu melden. Bei Beschädigung oder unsachgemäßem Gebrauch ist der Verleiher berechtigt Schadenersatz zu verlangen.
    <br />
    <br />

    6.3 Der Verleih erfolgt nur für die Dauer eines Ausleihtages. Verleihmaterial muss stets am Ausleihtag bis spätestens 15 Minuten vor Betriebsschluss an der Kasse zurückgegeben werden. Ansonsten fallen Leihgebühren in gleicher Höhe für jeden weiteren Tag an. Es ist ein Pfand in Form eines amtlichen Ausweises zu hinterlegen. Das Material darf nur im Boulder-Point benutzt werden.

</p>
<br />
<br />
<h3>
    7 Hausrecht
</h3>
<br />
<br />
<p>
    7.1 Das Hausrecht über die Boulderanlage übt der Boulder-Point und die von ihr Bevollmächtigten aus. Ihren Anordnungen ist unbedingt Folge zu leisten.
    <br />
    <br />
    7.2 Wer gegen die Benutzungsordnung verstößt, kann vom Boulder-Point dauernd oder auf Zeit von der Benutzung der Boulderanlagen ausgeschlossen werden. Das Recht des Boulder-Points darüber hinausgehende Ansprüche geltend zu machen, bleibt davon unberührt.
</p>
<br />
<br />
<h3>
    8 Nutzung des hausinternen Internetzugangs über WLAN
</h3>
<br />
<br />
<p>
    8.1 Gestattung der unentgeltlichen Mitbenutzung
    Der Boulder-Point gestattet dem Gast für die Dauer seines Aufenthaltes im Boulder-Point die Mitbenutzung des betriebenen Internetzugangs über WLAN. Die Mitbenutzung ist jederzeit widerruflich und wird als unentgeltliche Serviceleistung des Boulder-Points gewährt. Dem Gast ist es nicht erlaubt, Dritten die Nutzung des Internetnetzwerks zu gestatten. Der Betrieb des WLANs kann durch den Inhaber jederzeit ganz, teilweise oder zeitweise eingestellt werden. Weitere Mitbenutzer können durch ihn zugelassen werden. Der Boulder-Point kann den Zugang des Gasts ganz, teilweise oder zeitweise beschränken oder ausschließen. Nach eigenem Ermessen und jederzeit kann der Boulder-Point den Zugang auf bestimmte Seiten oder Dienste über das WLAN sperren (z.B. gewaltverherrlichende, pornographische oder kostenpflichtige Seiten).
    <br />
    <br />
    8.2 Hinweise zu Gefahren der Nutzung des Internetnetzwerks
    Wir weisen unsere Gäste darauf hin, dass der unter Nutzung des Internetnetzwerks hergestellte Datenverkehr unter Umständen unverschlüsselt erfolgt. Die Daten können daher möglicherweise von Dritten eingesehen werden. Das Internetnetzwerk ermöglicht nur den Zugang zum Internet. Die abgerufenen Inhalte unterliegen keiner Überprüfung durch den Boulder-Point, insbesondere nicht daraufhin, ob sie schädliche Software (Viren, Trojaner, Würmer oder Ähnliches) enthalten. Der Boulder-Point weist ausdrücklich darauf hin, dass die Gefahr besteht, dass schädliche Software bei der Nutzung des Internetnetzwerks auf das Endgerät gelangen kann. Die Nutzung des Internetnetzwerks erfolgt auf eigene Gefahr und auf eigenes Risiko des Gastes.
    <br />
    <br />
    8.3 Zugangsdaten
    Der Boulder-Point behält sich das Recht vor, jederzeit Zugangsdaten ändern zu dürfen. Alle zur Verfügung gestellten Zugangsdaten (Benutzernamen, Passwörter, Zeichenkombinationen) sind nur zum persönlichen Gebrauch des Gastes bestimmt und dürfen nicht an Dritte weitergegeben werden. Der Gast ist verpflichtet, seine Zugangsdaten geheim zu halten.
    <br />
    <br />
    8.4 Verantwortlichkeit und Freistellung von Ansprüchen
    Der Gast verpflichtet sich, bei Nutzung des Internets das geltende Recht einzuhalten. Für die über das vom Inhaber des Boulder-Point zur Verfügung gestellte Internetnetzwerk übermittelten Daten, die darüber in Anspruch genommenen kostenpflichtigen Dienstleistungen und getätigten Rechtsgeschäfte ist der Gast selbst verantwortlich. Der Gast verpflichtet sich insbesondere:
    • das Internetnetzwerk weder zum Abruf noch zur Verbreitung von sittenwidrigen oder rechtswidrigen Inhalten zu nutzen;
    • keine urheberrechtlich geschützten Güter widerrechtlich vervielfältigen, verbreiten oder zugänglich machen;
    • die geltenden Jugendschutzvorschriften beachten;
    • keine belästigenden, verleumderischen oder bedrohenden Inhalte versenden oder verbreiten;
    • und das Internetnetzwerk nicht zur Versendung von Massen-Nachrichten (Spam) und / oder anderen Formen unzulässiger Werbung nutzen.

</p>
<br />
<br />
<h3>
    9 Unwirksamkeit
</h3>
<br />
<br />
<p>
    9.1 Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder nach Vertragsschluss unwirksam oder undurchführbar werden, bleibt davon die Wirksamkeit des Vertrages im Übrigen unberührt. An die Stelle der unwirksamen oder undurchführbaren Bestimmung soll diejenige wirksame und durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen Zielsetzung am nächsten kommen, die die Vertragsparteien mit der unwirksamen bzw. undurchführbaren Bestimmung verfolgt haben. Die vorstehenden Bestimmungen gelten entsprechend für den Fall, dass sich der Vertrag als lückenhaft erweist

</p>

<br />
<br />
<h3>
    10 Aktuelle Benutzerordnung
</h3>
<br />
<br />
<p>
    10.1 Die aktuelle Benutzerordnung hängt im Boulder-Point aus und kann auf Nachfrage vom Personal ausgehändigt werden.
    <br />
    <br />
    Inhaber Boulder-Point, Kaltenkirchen den 06.05.2018
    <br />
    (im Original unterschrieben)
</p>